*{
    padding: 0px;
    margin: 0px;
}

header{
    min-height: 75px;
    width: 100%;
    background-color: #222;
    color: #EEE;

}

header{
    min-height: 75px;
    width: 100%;
    background-color: #222;

}

main{
    display: flex;
    flex-direction: row;

}

.head-info-section{

}

.head-info-section img{
    width: 256;
    height: 217.5px;
    border-radius: 128px;
}